doctype html
html(ng-app="mainModule")
  head
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js")
  body(ng-controller="main")
    .container
      .row
        .col-sm-6
          ul.list-unstyled
            li(ng-repeat="(num, checked) in numbers")
              .checkbox
                label
                  input(type="checkbox", ng-checked="checked",
                      ng-model="numbers[num]")
                  | {{ num }}
        .col-sm-6
          .label.label-primary(ng-repeat="(num, checked) in numbers",
              ng-show="checked")
              | {{ num }}

    script.
      var app = angular.module("mainModule", []);
      app.controller("main", ["$scope", function($scope) {
        $scope.numbers = {
          1: false,
          2: true,
          3: false,
          4: false,
          5: false,
          6: false,
          7: false,
        };
        console.log("initialized");
      }]);
